{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
<div class="block-group">
  <div class="main block">

    <nav class="block">
      <ol>
        <li><a href="{{ .Site.BaseURL }}"><i aria-hidden="true"></i></a></li>
        {{ with .Section }}
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/" itemprop="url"><span itemprop="title">{{ . }}</span></a></li>
        {{ end }}
        <li>{{ .Title }}</li>
      </ol>
    </nav>

     
    {{ .Render "summary" }}


  </div>

  <div class="nav block">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}
