<aside class="site">

  <section>
    <header>Contenus récents</header>
    <div>
      <div>
        {{ range $i, $p := (first 10 .Site.RegularPages) }}
        <div>{{ .Render "li_sm" }}</div>
        {{ if eq (mod (add $i 1) 2) 0 }}<div></div>{{ end }}
        {{ end }}
      </div>
    </div>
  </section>

  {{ range $key, $value := .Site.Taxonomies}}
  {{ end }}


<section>
  <header>Catégories</header>
  <ul class="p-terms">
  {{ range $name, $taxonomy := .Site.Taxonomies.catégories }}  
    <li><a href="{{ "/catégories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
</ul>
</section>
  {{ end }}

</aside>
